doctype html
html
  head
    meta(charset='utf-8')
    title
  body
    h1 Login
    form(action='/auth/login', method='POST')
      p
        input(type='text', name='username', placeholder='username')
      p
        input(type='password', name='password', placeholder='password')
      p
        input(type='submit')
