doctype html
html
  head
    meta(charset='utf-8')
    title
  body
    h1
      a(href='/topic') Server Side JavaScript
    ul
      each topic in topics
        //
          topics배열 topic li로 나타날때 쓰임
        li
          a(href='/topic/'+topic)= topic
    article
      h1= title
      h3= description
    a(href='/topic/new') new
